<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1 class="header">Sign In to your WatchList</h1>
    <form class="input-flex-container" action="/auth/sign-in" method="POST">
        <div class="sign-in-form">
            <div class="flex-input">
                <label class="input-label" for="username">Username:</label>
                <input class="input" type="text" name="username" id="username" required/>
            </div>
            <div class="flex-input">
                <label class="input-label" for="password">Password:</label>
                <input class="input" type="password" name="password" id="password" required/>
            </div>
        </div>
        <div class="button-flex-container">
            <button class="button" type="submit">Sign In</button>
        </div>
    </form>
</body>
</html>