<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Movie to your WatchList</title>
</head>
<body>
    <h1>Add a Movie to your WatchList</h1>
    <form action="/users/<%= user._id %>/watchlist" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required/>

        <label for="isWatched">Watched?</label>
        <input type="checkbox" name="isWatched" id="isWatched"/>

        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre"/>

        <label for="director">Director:</label>
        <input type="text" name="director" id="director"/>

        <label for="yearReleased">Release Year:</label>
        <input type="text" name="yearReleased" id="yearReleased"/>

        <label for="notes">Review/Synopsis:</label>
        <input type="textarea" name="notes" id="notes"/>

        <button type="submit">Add Movie</button>
    </form>
</body>
</html>